@font-face {
	font-family: 'Roboto';
	src        : url('../fonts/Roboto-Regular.ttf'), url('../fonts/Roboto-Bold.ttf'),
		url('../fonts/Roboto-Thin.ttf');
}

@font-face {
	font-family: 'Roboto light';
	src        : url('../fonts/Roboto-Light.ttf');
}

@font-face {
	font-family: 'Roboto Slab';
	src        : url('../fonts/RobotoSlab-Regular.ttf'), url('../fonts/RobotoSlab-Bold.ttf'),
		url('../fonts/RobotoSlab-Thin.ttf'), url('../fonts/RobotoSlab-Light.ttf');
}

body {
	font-family: 'Roboto';
}

/****************************Common CSS**************************/
/* .navbar-nav>.active a {
	border-bottom   : 1px solid #ff682a !important;
	background-color: transparent !important;
} */

.navbar-nav>.active div {
	height     : 1px;
	width      : 36px;
	margin-left: 15px;
}

.carousel-indicators li {
	height: 11px !important;
	width : 11px !important;
}

.carousel-indicators .active {
	height: 15px !important;
	width : 15px !important;
}

.padding-10x {
	padding: 10px;
}

.padding-5x {
	padding: 5px;
}

.padding-20x {
	padding: 20px;
}

.center {
	display: block;
	margin : 0 auto;
}

.no-margin {
	margin: 0;
}

.error {
	color: red;
}

a {
	color: #707070;
}

a:hover {
	color          : #ff682a;
	text-decoration: none;
}

.color-orange {
	color: #ff682a !important;
}

.color-blue {
	color: #37beed !important;
}

.heading {
	font-family   : Roboto light;
	font-style    : normal;
	font-size     : 40px;
	line-height   : 44px;
	opacity       : 1;
	mix-blend-mode: normal;
	margin-top    : 10vh;
	color         : #707070;
}

.content-heading {
	font-family: Roboto light;
	font-style : normal;
	font-weight: 200;
	font-size  : 22px;
	line-height: 26px;
}

.content-text {
	font-family: Roboto light;
	font-style : normal;
	font-weight: normal;
	font-size  : 20px;
	line-height: 30px;
	color      : #707070;
}

.content-text-sm {
	font-family: Roboto light;
	font-style : normal;
	font-size  : 16px;
	line-height: 20px;
	color      : #a7a7a7;
}

.head {
	font-family: Roboto light;
	font-style : normal;
	font-size  : 40px;
	line-height: 38px;
	color      : #ff682a;
}

.sub-head {
	font-family: Roboto;
	font-style : normal;
	font-size  : 55px;
	line-height: 60px;
	color      : #ffffff;
}

.btn {
	border-radius : 56px;
	color         : #FFFFFF;
	font-family   : Roboto;
	font-style    : normal;
	font-weight   : bold;
	font-size     : 18px;
	line-height   : 19px;
	text-transform: uppercase;
}

.btn:hover {
	color: #FFFFFF;
}

.btn-sky-blue {
	font-weight : lighter;
	background  : #37beed;
	border-color: #37beed;
}

.btn-sky-blue:hover {
	background  : #0599cc;
	border-color: #0599cc;
}

.card {
	max-height   : 360px;
	padding      : 0;
	margin       : 1.6%;
	box-shadow   : 1px 0 5px 0 #80808059;
	border-radius: 0.5rem;
}

.card-body {
	text-align     : center;
	padding        : 0.5rem;
	display        : flex;
	flex-flow      : column;
	justify-content: space-between;
}

.card-title {
	font-family: Roboto;
	font-style : normal;
	font-size  : 22px;
	line-height: 28px;
	color      : #412c51;
}

.card-text {
	font-family: Roboto light;
	font-style : normal;
	font-weight: normal;
	color      : #333333;
	font-size  : 20px;
	line-height: 22px;
	margin-top : 5px;
}

.color-white {
	color: white !important;
}

.color-sky-blue {
	color: #37beed;
}

.green-bg {
	background-color: #31e38d;
	color           : #333333;
}

.yellow-bg {
	background-color: #f9d43f;
	color           : #333333;
}

.orange-bg {
	background-color: #fd8858;
	color           : #333333;
}

.white-bg {
	background-color: #ffffff;
}

.blue-bg {
	background-color: #37beed;
	color           : #333333;
}

.light-green-bg {
	background-color: #6eebaf;
	color           : #333333;
}

.light-yellow-bg {
	background-color: #fbe178;
	color           : #333333;
}

.light-orange-bg {
	background-color: #feab8a;
	color           : #333333;
}

/***********************Index Page*********************************/
.carousel-indicators {
	bottom: -45px;
}

.carousel-indicators li {
	width        : 12px;
	height       : 12px;
	opacity      : 1.0;
	border-radius: 50%;
	border       : 2px solid #9e9e9e;
}

.carousel-indicators .active {
	background-color: #37beed;
	border          : 0px;
	height          : 17px;
	width           : 17px;
}

.carousel-caption {
	position     : absolute;
	width        : max-content;
	border-radius: 12px;
	max-width    : 440px;
	bottom       : 35%;
	left         : 13vw;
	z-index      : 10;
	color        : #333333;
	text-align   : left;
	padding      : 2%;
}

.caption-title {
	font-family: Roboto;
	font-style : normal;
	font-size  : 48px;
	line-height: 40px;
	color      : #412c51;
}

.caption-subtitle {
	font-family: Roboto;
	font-style : normal;
	font-weight: bold;
	font-size  : 72px;
	line-height: 64px;
	color      : #ffffff;
}

.container-cover {
	margin-top: 5%;
}

.solutions-slider-container {
	overflow-x: hidden;
	margin-top: 20px;
}

.solutions-slider {
	display        : flex;
	flex-flow      : row;
	justify-content: flex-start;
	transition     : all 1s ease-in-out;
}

.indicators-container {
	margin-top: 32px;
	width     : 100%;
}

.indicators-btn {
	margin-right: 10px;
	color       : #3f3f3f;
	cursor      : pointer;
	font-weight : 300;
}

.indicators-btn:hover {
	color: #707070;
}

.testimonial-bg {
	background: linear-gradient(white 50%, #ebe9ee 50%);
}

.testimonial-container {
	display   : flex;
	flex-flow : row;
	margin-top: 1%;
}

.testimonial {
	max-height   : max-content;
	padding      : 1%;
	border-radius: 12px;
	margin       : 0 4px;
	max-width    : 32.5%;
}

.testimonial-user {
	display        : flex;
	flex-flow      : row;
	justify-content: start;
}

.testimonial-user-index {
	display        : flex;
	flex-flow      : row;
	justify-content: space-around;
}

.user-details {
	padding: 2%;
}

.user-details .content-text-sm {
	color: #333333;
}

.quote {
	opacity      : 0.4;
	height       : 18px;
	margin-bottom: 15px;
}

.quote.end {
	margin-top   : 12px;
	margin-bottom: 0;
}

#button-container {
	margin-top   : 90px;
	margin-bottom: 40px;
}

#detailWindow {
	position        : fixed;
	width           : 50%;
	top             : 10vh;
	left            : 25%;
	z-index         : 1032;
	opacity         : 1;
	background-color: #FFFFFF;
	overflow        : auto;
	border-radius   : 16px;
	display         : none;
}

.gallery-items-container {
	display        : flex;
	flex-flow      : row column wrap;
	justify-content: space-between flex-start;
}

.card-main-header {
	position       : relative;
	display        : flex;
	justify-content: center;
	flex-flow      : column;
}

.hover-overlay {
	z-index         : 1;
	position        : absolute;
	background-color: #0000009d;
	width           : 100%;
	height          : -webkit-fill-available;
	display         : none;
	cursor          : pointer;
}

.hover-overlay img {
	margin-top: 35%;
}

#galleryWindow {
	position: fixed;
	width   : 50%;
	top     : 10vh;
	left    : 25%;
	z-index : 1032;
	opacity : 1;
	display : none;
}

.close_btn {
	position: absolute;
	top     : 10px;
	right   : 10px;
	cursor  : pointer;
}

.gallery-indicators-container {
	margin-left: -9%;
	width      : 120%;
	position   : absolute;
	top        : 50%;
}

@media screen and (min-width: 991px) {

	.navbar-custom-fitting {
		width: 100%;
	}

	.navbar-brand {
		padding: 10px !important;
		height : auto;
	}

	#main-nav {
		height     : 53px;
		padding-top: 10px;
	}

	nav>.container {
		height: 70px;
	}

	.navbar-nav>.active div {
		display: block;
		margin : 0 auto;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	#main-nav {
		height     : 40px;
		padding-top: 10px;
		color      : #3d3d3d;
	}

	.navbar-brand {
		padding: 10px !important;
		height : auto;
	}

	nav>.container {
		height: 92px;
	}

	.cover-text p:nth-child(1) {
		font-size: 3vw;
	}

	.cover-text p:nth-child(2) {
		font-size  : 5vw;
		line-height: 6vw;
	}

	#detailWindow {
		position        : fixed;
		width           : 80vw;
		max-height      : 90vh;
		top             : 5vh;
		left            : 10vw;
		z-index         : 1032;
		opacity         : 1;
		background-color: #FFFFFF;
		overflow        : auto;
		border-radius   : 16px;
		display         : none;
	}

	#galleryWindow {
		position        : fixed;
		width           : 80vw;
		max-height      : 90vh;
		top             : 5vh;
		left            : 10vw;
		z-index         : 1032;
		background-color: #FFFFFF;
		display         : none;
	}

	.testimonial {
		min-width: 45%;
	}
}

@media screen and (max-width: 767px) {
	nav>.container {
		padding: 2px;
		width  : 100%;
		height : auto;
	}

	.navbar-brand {
		padding: 0px 25px !important;
	}

	.navbar-header {
		height: 90px;
	}

	#main-nav {
		margin-top      : 39px;
		background-color: #ffffff;
		padding         : 15px;

	}

	.navbar-toggle {
		margin-top  : 30px;
		margin-right: 45px;
	}

	.cover-text p:nth-child(1) {
		font-size: 3vw;
	}

	.cover-text p:nth-child(2) {
		font-size  : 5vw;
		line-height: 6vw;
	}

	#detailWindow {
		position        : fixed;
		width           : 80vw;
		max-height      : 90vh;
		top             : 5vh;
		left            : 10vw;
		z-index         : 1032;
		opacity         : 1;
		background-color: #FFFFFF;
		overflow        : auto;
		border-radius   : 16px;
		display         : none;
	}

	#galleryWindow {
		position  : fixed;
		width     : 80vw;
		max-height: 90vh;
		top       : 5vh;
		left      : 10vw;
		z-index   : 1032;
		display   : none;
	}

	.testimonial {
		min-width: 40%;
	}

	.gallery-items-container {
		justify-content: space-evenly;
	}
}

@media screen and (max-width: 480px) {
	.cover-text p:nth-child(1) {
		font-size: 7vw;
	}

	.cover-text p:nth-child(2) {
		font-size  : 10vw;
		line-height: 12vw;
	}

	.gallery-items-container {
		justify-content: space-around flex-start;
	}

	.gallery-indicators-container {
		margin-left: -12%;
		width      : 127%;
	}
}

.navbar-nav {
	font-size: 24px !important;
}

.navbar {
	border-radius: 0px;
}

.navbar-custom {
	background: #FFFFFF;
}

.navbar-nav a {
	transition: all 0.5s ease-in-out;
}

.navbar-custom-fitting {
	position  : fixed;
	top       : 0;
	z-index   : 1030;
	box-shadow: -1px 1px 11px 0px #d2d2d2;
}

.navbar-nav>li>a {
	padding: 8px 15px !important;
}

/***********************Contact******************************************/
.contact-cover-bg {
	background         : url("../images/contact_banner.png") no-repeat;
	width              : 100%;
	min-height         : 300px;
	background-position: center;
}

.about-cover-bg {
	background         : url("../images/aboutus_banner.png") no-repeat;
	width              : 100%;
	min-height         : 300px;
	background-position: center;
}

.form-container {
	background-color: #EEEEEE;
	padding         : 5%;
}

#middle-container .row {
	margin-top: 20px;
}

/***********************Solutions******************************************/
.solutions-cover-bg {
	background         : url("../images/ls_banner.png") no-repeat;
	width              : 100%;
	min-height         : 300px;
	position           : relative;
	background-position: center;
	display            : flex;
	flex-flow          : column;
	justify-content    : center;
}

.solution-link.active a {
	color: #ff682a;
}

.solution-link a:hover {
	color          : #ff682a !important;
	text-decoration: none;
}


/***********************Footer******************************************/
#footer {
	background-color   : #412c51;
	/* margin-top      : 5%; */
	clear              : right;
}

#footer p {
	font-size: 16px;
}

/***********************Error Page*********************************/
#errorBlock {
	position: absolute;
	top     : 15%;
	width   : 100%;
}

/***********************Login Modal View*********************************/
.overlay {
	position        : fixed;
	top             : 0;
	left            : 0;
	width           : 100%;
	opacity         : 0.9;
	min-height      : 100%;
	display         : none;
	background-color: #000000;
	z-index         : 1031;
}

#loginWindow a {
	color: #262525;
}

#login_form input,
#upload_form input,
#queryReply_form input {
	margin: 10px 0;

}

textarea {
	resize: none;
}